html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #22228f;
}
.header__title {
  width: auto;
  height: 65%;
  overflow: hidden;
  margin: 10px;
}
.header__title img {
  width: 100%;
  height: 100%;
}
.header__nav {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  padding: 0;
}
.header__nav--links {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.header__nav--links li {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0;
  text-align: center;
}
.header__nav--links li button {
  padding: 0;
  width: 100%;
  height: 100%;
}
.header__nav--links li button i {
  transform: scale(1.5);
  margin-right: 10px;
  color: black;
}
.header__nav--links li button span {
  display: none;
}

footer {
  height: 150px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22228f;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer ul li {
  margin: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.accueil {
  position: relative;
  z-index: 0;
  height: 500px;
  padding: 10px;
}
.accueil__titre {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  border: 1px black solid;
}
.accueil__presentation {
  width: 100%;
  height: 90%;
}
.accueil__presentation div {
  width: 100%;
  height: 70%;
}
.accueil__presentation div img {
  width: 100%;
  height: 100%;
}
.accueil__presentation p {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  border: 1px black solid;
}

.connexion {
  width: 100%;
  height: 250px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 90px;
  left: 0px;
  display: none;
  background: linear-gradient(#f7b1b1, #ee7676);
}
.connexion__form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: unset;
  padding: 90px 20px;
}
.connexion__form--email {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.connexion__form--email label {
  width: 32%;
}
.connexion__form--email input {
  width: 68%;
}
.connexion__form--password {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.connexion__form--password label {
  width: 32%;
}
.connexion__form--password input {
  width: 68%;
}
.connexion__form--validation {
  width: 50%;
  height: 35px;
  align-self: center;
}

.inscription {
  width: 100%;
  height: 250px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 90px;
  left: 0px;
  display: none;
  background: #8fdb8f;
}
.inscription__form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: unset;
  padding: 60px 20px;
}
.inscription__form--prenom {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inscription__form--prenom label {
  width: 32%;
}
.inscription__form--prenom input {
  width: 68%;
}
.inscription__form--nom {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inscription__form--nom label {
  width: 32%;
}
.inscription__form--nom input {
  width: 68%;
}
.inscription__form--email {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inscription__form--email label {
  width: 32%;
}
.inscription__form--email input {
  width: 68%;
}
.inscription__form--password {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inscription__form--password label {
  width: 32%;
}
.inscription__form--password input {
  width: 68%;
}
.inscription__form--inscription {
  width: 50%;
  height: 35px;
  align-self: center;
}

.forums {
  width: auto;
  height: auto;
  min-height: 500px;
  margin: 10px 5px;
}
.forums__multimedia {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}
.forums__multimedia h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}
.forums__chat {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.forums__chat h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.publication {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
  margin: 20px 0;
}
.publication__contenue {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.publication__contenue--auteur {
  margin: 10px;
}
.publication__contenue--photo {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
}
.publication__contenue--photo img {
  width: 100%;
  height: 100%;
}
.publication__contenue--texte {
  font-size: 1.4rem;
  margin: 10px;
}

.message {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 10px;
  border: 1px black solid;
  border-radius: 5px;
}
.message__auteur {
  margin: 5px;
  font-size: 1.6rem;
}
.message__texte {
  padding: 0;
  margin: 0;
  margin: 5px;
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
