footer{
    @include bloc-size($height:10px);
    @include display;
    background: $color-primary;
    & ul{
        @include nomarge;
        list-style-type: none;
        & li{
            margin: 10px;
            & a{
                text-decoration: none;
                color: white;
                font-size: 1.6rem;
            }
        };
    }
}