.header{
    @include display($direction:column);
    @include bloc-size($height:100px);
    background: $color-primary;
    @media screen and (min-width:768px){
        height: 180px;
    }
    &__title{
        @include auto($height:65%);
        overflow: hidden;
        margin: 10px;
        & img{
            @include full;
        }
    }
    &__nav{
        @include display;
        @include full($height:35%);
        padding: 0;
        @media screen and(min-width:1024px) {
            width: 80%;
        }
        @media screen and(min-width:1440px) {
            width: 70%;
        }
        &--links{
            @include display;
            list-style-type: none;
            @include full;
            @include nomarge;
            & li{
                @include display;
                @include full($width:50%);
                padding: 0;
                text-align: center;
                & button{
                    @include display;
                    @include button;
                    @include full;
                    text-align: center;
                    
                    & i{
                        transform: scale(1.5);
                        color: $color-icone;
                    }
                    & span{
                        margin-left: 10px;
                        display: none;
                    }
                }
            }
        }
    }
}
#connecter{
    display: block;
}
#creer{
    display: block;
}