@mixin button{
    border: 1px #b4b4b4 solid;
    background-color: #c5c5c5;
    padding: 0;
    &:hover{
        cursor: pointer;
    }
}
@mixin profilBtn($width:23%,$radius:12px,$height:40px){
    @include nomarge;
    height: $height;
    width: $width;
    border-radius: $radius;
    background: $color-btn;
    &:hover{
        cursor: pointer;
    }
    @media screen and(min-width:400px) {
        width:35%
    }
    @media screen and(min-width:500px) {
        width:30%
    }
    @media screen and(min-width:700px) {
        width:22%
    }
    @media screen and(min-width:768px) {
        width:17%
    }
    @media screen and(min-width:1400px) {
        width:10%
    }
}