@mixin button{
    border: 1px #b4b4b4 solid;
    background-color: #c5c5c5;
    padding: 0;
}
@mixin profilBtn($width:23%,$radius:12px,$height:40px){
    @include nomarge;
    height: $height;
    width: $width;
    border-radius: $radius;
    background: $color-btn;
    &:hover{
        cursor: pointer;
    }
    @media screen and(min-width:768px) {
        width:15%
    }
    @media screen and(min-width:1024px) {
        width:10%
    }
    @media screen and(min-width:1440px) {
        width:7%
    }
}