html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    margin:0;
    padding: 0;
}
.forum{
    @include auto;
    min-height: 500px;
    margin: 10px 0;
    overflow: hidden;
    &__chat{
        @include full;
        @include display($direction:column);
        &--titre{
            @include nomarge;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    &__profil{
        &--titre{
        text-align: center;
        }
    }  
    &__multimedia{
        @include full;
        @include display($direction:column);
        &--titre{
            @include nomarge;
            text-align: center;
        }
    }
}