.chat{/*Cadre des message du chat*/
    @include display($direction:column-reverse);
    @include full;
    padding-bottom: 140px;
}
.formulaire-edit{
    @include auto($width:100%);
    @include display($direction:column);
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 2px #919191 solid;
    &__form{
        @include auto($width:100%);
        margin: 10px;
        @include display($direction:column);
        &--message{
                width: 91%;
                margin: 10px 0;
                border-radius: 5px;
                resize: none;
                border: 1px #959595 solid;
                background-color: #ededed;
                &::placeholder{
                    transform-origin: left;
                    transform: scale(0.95);
                    transition: transform 0.2s;
                }
                &:focus{
                    background-color: white;
                    &::placeholder{
                        transform: scale(1);
                        transition: transform 0.2s;
                    }
                }
        }
        &--old{
            font-weight: bold;
        }
    }
}
.container-chat{
    @include auto($width:100%);
    position: relative;
    &__message{
        @include display($direction:column);
        align-items: flex-start;
        margin: 10px;
        border: 1px #959595 solid;
        background-color: #ededed;
        border-radius: 5px;
        &--texte{
            @include nomarge;
            margin: 5px;
            font-size: 1.4rem;
        }
    }
    &__auteur{
        margin: 5px;
        font-size: 1.4rem;
    }
    &__del{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.4rem;
        margin: 0 5px 5px 0;
        color: red;
        border: none;
        box-shadow: 1px 1px 1px red;
        background-color: white;
        &:active{
            background-color: #f2f2f2 ;
        }
    }
}
.btn.chat{
    border-bottom: none;
    background-color: white;
}