.chat{/*Cadre des message du chat*/
    @include display($direction:column-reverse,$justify:unset);
    @include auto($width:100%,$height:300px);
    overflow-y: auto;
    border-top: 2px rgb(100, 100, 100) solid;
    @media screen and(min-width:320px) {
        height: 600px;
    }
    @media screen and(min-width:425px) {
        height: 600px;
    }
    @media screen and(min-width:768px) {
        width: 85%;
        height: 500px;
    }
    @media screen and(min-width:1024px) {
        width: 80%;
        
    }
    @media screen and(min-width:1440px) {
        width: 70%;
    }
    @media screen and(width:360px)and(height:640px) {
        height:320px;
    }
    @media screen and(width:411px)and(height:731px) {
        height:400px;
    }
    @media screen and(width:411px)and(height:823px) {
        height:500px;
    }
    @media screen and(width:320px)and(height:568px) {
        height:260px;
    }
    @media screen and(width:375px)and(height:667px) {
        height:345px;
    }
    @media screen and(width:414px)and(height:736px) {
        height:400px;
    }
    @media screen and(width:375px)and(height:812px) {
        height:470px;
    }
    @media screen and(width:768px)and(height:1024px) {
        height:600px;
    }
}
.formulaire-edit{
    @include auto($width:100%);
    @include display($direction:column);
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 2px #919191 solid;
    &:hover{
        cursor: pointer;
    }
    @media screen and(min-width:768px) {
        width: 70%;
    }
    @media screen and(min-width:768px) {
        width: 40%;
    }
    &__form{
        @include auto($width:100%);
        margin: 10px;
        @include display($direction:column);
        &--message{
                width: 91%;
                margin: 10px 0;
                border-radius: 5px;
                resize: none;
                border: 1px #959595 solid;
                background-color: #ededed;
                &::placeholder{
                    transform-origin: left;
                    transform: scale(0.95);
                    transition: transform 0.2s;
                }
                &:focus{
                    background-color: white;
                    &::placeholder{
                        transform: scale(1);
                        transition: transform 0.2s;
                    }
                }
        }
        &--old{
            font-weight: bold;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.container-chat{
    @include auto($width:100%);
    position: relative;
    &__message{
        @include display($direction:column);
        align-items: flex-start;
        margin: 10px;
        border: 1px #959595 solid;
        background-color: #ededed;
        border-radius: 5px;
        &--texte{
            @include nomarge;
            margin: 5px;
            font-size: 1.4rem;
        }
    }
    &__auteur{
        margin: 5px;
        font-size: 1.4rem;
    }
    &__del{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.4rem;
        margin: 0 5px 5px 0;
        color: rgb(196, 21, 21);
        border: none;
        box-shadow: 1px 1px 1px red;
        background-color: white;
        &:active{
            background-color: #f2f2f2 ;
        }
    }
}
.btn.chat{
    border-bottom: none;
    background-color: white;
}