.forums{
    @include auto;
    min-height: 500px;
    margin: 10px 5px;
    &__multimedia{
        @include full;
        @include display($direction:column);
        display: block;
        & h2{
            @include nomarge;
            text-align: center;
        }
    }
    &__chat{
        @include full;
        @include display($direction:column);
        display: none;
        & h2{
            @include nomarge;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}
.publication{
    @include display;
    border-radius: 10px;
    margin: 20px 0;
    &__contenue{
        @include display($direction:column);
        @include full;
        &--cadre{
            width: 100%;
        }
        
    }
}
.container{
    margin: 15px 0px;
    border: 1px #d1d1d1 solid;
    box-shadow: 0px 5px 5px 1px grey;
    border-radius: 10px;
    &__auteur{
        margin: 10px;
    }
    &__photo{
        @include display;
        @include full($height:150px);
        border-radius: 15px;
        overflow: hidden;
        & img{
            @include full($width:95%);
        }
    }
    &__texte{
        font-size:1.4rem;
        margin: 10px;
    }
}
.message{
    @include display($direction:column);
    align-items: flex-start;
    margin: 10px;
    border: 1px black solid;
    border-radius: 5px;
    &__auteur{
        margin: 5px;
        font-size: 1.6rem;
    }
    &__texte{
        @include nomarge;
        margin: 5px;
        font-size: 1.6rem;
    }
}