section{
    @include bloc-size($height:500px);
    padding: 10px;
    & h2{
        @include display;
        @include full($height:10%);
        @include nomarge;
        text-align: center;
        font-size: 2.4rem;
        border: 1px black solid;
    }
    & div{
        @include full($height:90%);
        & div{
            @include full($height:70%);
            & img{
                @include full;
            }
        }
        & p{
            @include display;
            @include full($height:30%);
            @include nomarge;
            text-align: center;
            font-size: 2rem;
            border: 1px black solid;
        }
    }
}
