.publication{/*Cadre des publications*/
    @include display($direction:column);
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    @include full;
    &__edit{
        @include full($width:106%);
        @include display($direction:column);
        border: 3px #d1d1d1 solid;
        overflow: hidden;
        transform: scale(0.99);
        transition: transform 0.1s;
        padding: 15px 10px;
        &:active{
            cursor: pointer;
            transform: scale(1);
            transition: transform 0.1s;
        }
    }
    &__container{
        width: 100%;
        border-bottom: 3px #d1d1d1 solid;
        margin-bottom: 25px;
        position: relative;
        &--auteur{
            font-size: 1.4rem;
            text-transform:lowercase;
            font-weight: unset;
            margin: 10px;
        }
        &--photo{
            @include display;
            @include full($height:250px);
            border-radius: 15px;
            overflow: hidden;
            & img{
                @include full($width:95%);
            }
        }
        &--texte{
            font-size:1.6rem;
            margin: 10px;
        }
        &--notes{
            width: 100%;
            @include display($justify:flex-start);
            margin: 0 0 10px 20px;
            & input{
                margin: 0 5px 5px;
            }
        }
        &--del{
            background-color: white;
            border: none;
            color: red;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            margin: 0 5px 5px 0;
            &:active{
                background-color: #f2f2f2 ;
            }
        }
    }
    &__old{
        position: absolute;
        bottom: -10px;
    }
}
.count-like{
    background-color: grey;
    @include auto;
}
.count-dislike{
    background-color: grey;
    @include auto;
}
.form{/*Formulaire des publications*/
    @include full;
    @include display($direction:column);
    &__message{
        @include display;
        @include formBloc;
        &--input{
            width: 85%;
            resize: none;
            border: 1px #959595 solid;
            background-color: #ededed;
            border-radius: 5px;
            &::placeholder{
                transform-origin: left;
                transform: scale(0.95);
                transition: transform 0.2s;
            }
            &:focus{
                background-color: white;
                &::placeholder{
                    transform: scale(1);
                    transition: transform 0.2s;
                }
            }
        }
    }
    &__image{
        @include display($direction:column);
        @include formBloc;
        &--input{
            width: 87%;
            margin: 10px 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__validation{
        @include full($width:90%);
        @include display($justify:flex-end);
        & input{
            margin: 10px;
        }
    }
    
}
.btn.multi{
    border-bottom: none;
    background-color: white;
}