.publication{/*Cadre des publications*/
    @include display($direction:column);
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    @include auto($width:100%);
    &__edit{
        @include full($width:106%);
        @include display($direction:column);
        border: 3px #d1d1d1 solid;
        overflow: hidden;
        transform: scale(0.99);
        transition: transform 0.1s;
        padding: 15px 10px;
        @media screen and(min-width:768px) {
            width:70%;
        }
        @media screen and(min-width:1440px) {
            width: 40%;
        }
        &:active{
            cursor: pointer;
            transform: scale(1);
            transition: transform 0.1s;
        }
    }
    &__container{
        width: 100%;
        border-bottom: 3px #d1d1d1 solid;
        margin-bottom: 25px;
        transform: scale(0.9);
        transition:transform 0.2s;
        position: relative;
        @media screen and(min-width:1024px) {
            width: 70%;
        }
        @media screen and(min-width:1440px) {
            width: 50%;
        }
        @media screen and(min-width:1800px) {
            width: 40%;
        }
        &:hover{
            transform: scale(1);
            transition:transform 0.4s;
        }
        &::after{
            content: '';
            @include full;
            border: 2px black solid;
            display: none;
        }
        &--auteur{
            font-size: 1.4rem;
            text-transform:lowercase;
            font-weight: unset;
            margin: 10px;
        }
        &--photo{
            @include display;
            @include full($height:250px);
            border-radius: 15px;
            overflow: hidden;
            @media screen and(min-width:768px) {
                height: 350px;
            }
            & img{
                @include full($width:95%);
            }
        }
        &--texte{
            font-size:1.6rem;
            margin: 10px;
        }
        &--notes{
            width: 100%;
            @include display($justify:flex-start);
            & span{
                margin: 0 5px 0 20px;
            }
        }
        &--del{
            background-color: white;
            border: none;
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 1;
            margin: 0 5px 5px 0;
            &:active{
                background-color: #f2f2f2 ;
            }
        }
    }
    &__old{
        position: absolute;
        bottom: -10px;
    }
}
.like{
    @include likeDislike($color:#00a900);
}
.dislike{
    @include likeDislike($color:#df0000);
}
.count-like{
    @include note;
}
.count-dislike{
    @include note;
}
.form{/*Formulaire des publications*/
    @include full;
    @include display($direction:column);
    &__message{
        @include display;
        @include formBloc;
        &--input{
            width: 85%;
            resize: none;
            border: 1px #959595 solid;
            background-color: #ededed;
            border-radius: 5px;
            &::placeholder{
                transform-origin: left;
                transform: scale(0.95);
                transition: transform 0.2s;
            }
            &:focus{
                background-color: white;
                &::placeholder{
                    transform: scale(1);
                    transition: transform 0.2s;
                }
            }
        }
    }
    &__image{
        @include display($direction:column);
        @include formBloc;
        &--input{
            width: 87%;
            margin: 10px 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__validation{
        @include full($width:90%);
        @include display($justify:flex-end);
        & input{
            margin: 10px;
        }
    }
    
}
.btn.multi{
    border-bottom: none;
    background-color: white;
}
.scale{
    transform: scale(1.2);
    transition : transform  0.2s, 0.3s;
    font-weight: bold;
}