.btn.profil{
    border-bottom: none;
    background-color: white;
}
.profil{
    @include auto($width:100%);
    @include display($direction:column,$align:flex-start);
    & div{
        @include auto($width:100%);
        @include display;
        margin-top: 20px;
        
        & label{
            font-size: 1.8rem;
            @include auto($width:25%);
            @media screen and(min-width:425px) {
                width:20%
            }
            @media screen and(min-width:768px) {
                width:10%
            }
            @media screen and(min-width:1440px) {
                width:5%
            }
        }
        & input{
            @include auto($width:60%);
            margin-right: 10px;
            @media screen and(min-width:425px) {
                width:50%
            }
            @media screen and(min-width:768px) {
                width:40%
            }
            @media screen and(min-width:1440px) {
                width:20%
            }
        }
    }
}
#label-photo{
    @include profilBtn($width:50%); 
    @include display;
    border: 1px black solid;
    margin-right: 35px;
    display: none;
}
#upload-photo{
    width:0%;
}
#cadre-photo{
    @include auto($width:50%,$height:150px);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 20px;
    overflow: hidden;
    @media screen and(min-width:768px) {
        height: 300px;
    }
    @media screen and(min-width:1024px) {
        width: 40%;
    }
    @media screen and(min-width:1440px) {
        height: 400px;
    }
    @media screen and(min-width:1800px) {
        width: 30%;
    }
    & img{
        @include full;
    }        
}
.deconnexion{
    margin-top: 100px;
    @include auto($width:100%);
    @include display;
    &__btn{
        @include profilBtn($width:30%);
        margin-bottom: 15px;
    }
}
#btn-annuler{
    @include profilBtn;
    margin-left: 4px;
    margin-right: 8px;
}
#btn-modifier{
    @include profilBtn;
    margin-right: 8px;
}
#btn-valider{
    @include profilBtn;
    margin-right: 8px;
}
#btn-supprimer{
    @include profilBtn;
    margin-right: 4px;
}
.profil-suppression{
    @include display($direction:column);
    margin:20px;
    border: 2px black solid;
    border-radius: 12px;
    display: none;
    & p{
        color: red;
        margin: 10px;
    }
    & input{
        @include profilBtn($height:30px,$width:35%);
        margin-bottom: 10px;
    }
}