@mixin bloc-size($height:200px){
    height: $height;
}
@mixin display($direction:row,$justify:center,$align:center){
    flex-direction: $direction;
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin auto($height:auto,$width:auto){
    width: $width;
    height: $height;
}
@mixin full($height:100%,$width:100%){
    width: $width;
    height: $height;
}
@mixin nomarge{
    padding: 0;
    margin: 0;
}
@mixin formLabel{
    margin: 0 5px;
    width: 25%;
}
@mixin formBloc{
    @include auto($width:100%);
    margin-top: 5px;
}
@mixin note{
    @include auto($height:20px);
    @include display;
    padding: 0 5px;
    font-size: 1.4rem;
}
@mixin likeDislike($color:black){
    color: $color;
    transform: scale(1);
    transition: transform 0.5s;
    & i {
        font-weight: unset;
    }
}