@mixin bloc-size($height:200px){
    height: $height;
    border: 1px black solid;
}
@mixin display($direction:row){
    flex-direction: $direction;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin auto($height:auto,$width:auto){
    width: $width;
    height: $height;
}
@mixin full($height:100%,$width:100%){
    width: $width;
    height: $height;
}
@mixin nomarge{
    padding: 0;
    margin: 0;
}