$color-primary:rgb(34, 34, 143);
$color-secondary:linear-gradient(rgb(247, 177, 177),rgb(238, 118, 118));
$color-tertiary:rgb(143, 219, 143);

$color-icone: black;
$color-btn: linear-gradient(#ffffff,#bababa);